.Projects{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}
.ProjectHolder{
    display: flex;
    color: aqua;
    padding: 15px;
    background-color: #2a015288;
    margin-top: 15px;
    width: 750px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0ff, inset 0 0 20px #ff00ff;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: 1px;
    scrollbar-color: transparent transparent;
    height: 840px;
}
    
@media (max-width: 480px) {
.ProjectHolder{
    width: 85%;
}
}