.btn{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #00FFF7;
    background-color: #ff4ef091;
    border-image: linear-gradient(to right, #0ff, #f0f, #ff0, #0f0) 0.5;
    transition: 1s;
}
.btn:hover{
    transition: 1s;
    background-color: #FF4EF0;
}