.background{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
body{
  display: flex;
  flex-direction:row;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.layout{
  gap: 10px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction:row;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}