.background{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
body{
  display: flex;
  flex-direction:row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.layout{
  gap: 1%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction:row;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
@media (max-width: 1900px) {
  .layout{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}