.contentholder{
    width: 42%;
    height: 900px;
    background-color: #2b003ee7;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #2B003E;
    
    transform: scale(1.0);
    transition: 1s;
}
.contentholder:hover{
    background-color: #2B003E;
    box-shadow: 0 0 10px #0ff, 0 0 20px #ff00ff;
    transform: scale(1.01);
    transition: 1s;
}
@media (max-width: 480px) {
    .contentholder{
        width: 90%;
        height: 850%;
    }
}